$base-color: #bad7df;
$base-color-transparent: rgba(186, 215, 223, 0.75);
$secondary-color: #ffe2e2;
$secondary-color-transparent: #ffe2e2ad;
$third-color: #f6f6f6;
$fourth-color: #99ddcc;
$error-color: rgb(219, 170, 170);
$headers-color: rgb(58, 100, 58);