.price-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }
  
  .addToCart-container {
    display: flex;
    align-items: center;
    text-align: center;
    .fa-plus-square,
    .fa-minus-square {
      color: lightblue;
      cursor: pointer;
    }
    .fa-shopping-cart {
      color: $base-color-transparent;
      position: relative;
      margin: 0 0.7rem;
      span {
        position: absolute;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        border: 1px solid lightgray;
        right: -0.5rem;
        top: -0.5rem;
        font-size: 1.2rem;
        color: black;
        background-color: $secondary-color;
      }
    }
  }